:root{
    --color-base: #181818;
    --color-base-border: #9e9e9e;
    --base-font: "Titillium Web", serif;
    --base-title-font: "Kanit", serif;
}

*{ 
    padding: 0;
    margin: 0;
    font-family: var(--base-font);
    color: var(--color-base);
    max-width: 1024px;
    margin: 0 auto;
}

header img{
    max-width: 150px;
    padding: 1em;
}

h1{
    background-image: url(../img/body-background.png);
    padding: 0.2em;
    padding-left: 20px;
    border-radius: 8px;
}
h1, h2 {
    font-family: var(--base-title-font);
    font-size: 28px;
}
h2{
    border-top: 1px solid var(--color-base-border);
    padding-top: 4px;
}

p {
    padding: 8px;
    margin-bottom: 2px;
    font-size: 16px;
}

figure{
    text-align: center;
    max-width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
}

#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

figure figcaption {
    font-size: 12px;
    font-style: italic;
    font-family: "Kanit", serif;
}
figure img{
    border-radius: 8px;
}

li {
    margin-left: 2em;
    list-style-type: square;
}

#rodape{
    color: #777;
    padding: 30px 0;
    margin: 30px 0;
}

#rodape img {
    margin-right: 30px;
    vertical-align: right;
    width: 94px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}